<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>收银台</title>
    <link rel="stylesheet" href="../public/less/base.css">
    <link rel="stylesheet" href="../public/less/common_header1.css">
    <link rel="stylesheet" href="../public/less/cash.css">
    <script src="../public/libs/rem.js">
    </script>
</head>

<body>
    <div class="header">
        <a href="###" class="fl left">
        </a>
        <h2>收银台</h2>
    </div>
    <!--支付方式-->
    <form name="pay_plan">
        <section class="pay_plan">
            <ul>
                <li>
                    <div class="plan_name fl">余额</div>
                    <div class="radie fr">
                        <span class="surplus">可用金额0.00元 </span>
                        <i class="choice"></i>
                        <input type="radio" name="pay_plan" value="余额">
                    </div>
                </li>
                <li>
                    <div class="plan_name fl">余额</div>
                    <div class="radie fr">
                        <span class="surplus">可用金额0.00元 </span>
                        <i class="choice"></i>
                        <input type="radio" name="pay_plan" class="radio" value="余额">
                    </div>
                </li>
            </ul>
        </section>
    </form>
    <!--支付确认-->
    <section class="pay_confirm">
        <div class="pay_price fl">
            支付:
            <span class="price">$498.5</span>
        </div>

        <input type="button" class="fr" value="付款">
    </section>
</body>

</html>