<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>我是头部2</title>
    <link rel="stylesheet" href="../public/less/base.css">
    <link rel="stylesheet" href="../public/less/common_header2.css">
    <!--引用图标字体-->
    <link rel="stylesheet" href="../public/assets/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="header">
        <a href="###" class="fl left">
        </a>
        <a href="###" class="fr right">取消</a>
        <div class="center">
            <input type="text" placeholder="进口生鲜今日三折起">
            <i class="fa fa-search"></i>
        </div>
    </div>
</body>

</html>