<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>我是头部1</title>
    <link rel="stylesheet" href="../public/less/base.css">
    <link rel="stylesheet" href="../public/less/common_header1.css">
</head>

<body>
    <div class="header">
        <a href="###" class="fl left">
        </a>
        <a href="###" class="fr right">完成</a>
        <h2>编辑收货地址</h2>
    </div>
</body>

</html>