<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>支付成功</title>
    <link rel="stylesheet" href="../public/less/base.css">
    <link rel="stylesheet" href="../public/less/common_header1.css">
    <link rel="stylesheet" href="../public/less/paySuccess.css">
    <script src="../public/libs/rem.js">
    </script>
</head>

<body>
    <div class=" header">
        <a href="### " class="fl left ">
        </a>
        <h2>编辑收货地址</h2>
    </div>
    <!--付款信息区域-->
    <section class="pay_info">
        <div class="pay_info_top">
            <div class="info_img_box fl">
                <img src="../success.png">
            </div>
            <div class="info_txt">
                <h3>付款成功啦!</h3>
                <p class="small-font">本商城不会以付款异常为由要求您退款 , 谨防诈骗</p>
            </div>
        </div>
        <div class="pay_info_bottom">
            <button class="view fl">查看订单</button>
            <button class="continue fr">继续购物</button>
        </div>
    </section>
    <!--广告区域-->
    <section class="pay_banner">

    </section>
    <!--猜你喜欢-->
    <section class="pay_like">
        <div class="like_title">
            <h2>猜你喜欢</h2>
        </div>
        <div class="like_content">
            <ul>
                <li>
                    <a href="###">
                        <div class="like_imgbox">
                            <img src="../p1.png">
                        </div>
                        <div class="like_info">
                            <div class="like_name">
                                <h3>三利 毛巾家纺纯棉吸水 提缎面巾两条装</h3>
                            </div>
                            <div class="like_price">
                                $29.9
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <div class="like_imgbox">
                            <img src="../p1.png">
                        </div>
                        <div class="like_info">
                            <div class="like_name">
                                <h3>三利 毛巾家纺纯棉吸水 提缎面巾两条装</h3>
                            </div>
                            <div class="like_price">
                                $29.9
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <div class="like_imgbox">
                            <img src="../p1.png">
                        </div>
                        <div class="like_info">
                            <div class="like_name">
                                <h3>三利 毛巾家纺纯棉吸水 提缎面巾两条装</h3>
                            </div>
                            <div class="like_price">
                                $29.9
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <div class="like_imgbox">
                            <img src="../p1.png">
                        </div>
                        <div class="like_info">
                            <div class="like_name">
                                <h3>三利 毛巾家纺纯棉吸水 提缎面巾两条装</h3>
                            </div>
                            <div class="like_price">
                                $29.9
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</body>

</html>