body {
  background-color: #f7f7f7;
}
.header {
  background-color: #fff;
}
.pay_plan {
  margin-top: 10px;
  background-color: #fff;
}
.pay_plan li {
  border-top: 1px solid #f6f6f6;
  height: 0.8rem;
  line-height: 0.8rem;
  padding: 0 10px;
  position: relative;
}
.pay_plan li .plan_name {
  color: #999999;
}
.pay_plan li .surplus {
  color: #999999;
  font-size: 12px;
}
.pay_plan li .choice {
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid #999999;
  top: 0;
  right: 0;
}
.pay_confirm {
  position: fixed;
  width: 100%;
  background-color: #fff;
  bottom: 0;
  left: 0;
  padding-left: 11px;
}
.pay_confirm .pay_price {
  line-height: 0.8rem;
  color: #ff2150;
}
.pay_confirm input {
  width: 1.8rem;
  height: 0.8rem;
  background-color: #ff2150;
  border: none;
  color: #fff;
}
